 <div class="border-bottom row" style='padding-bottom:10px'>
   <div class='col-8'>
  <h4 style="color:rgb(120,120,120); margin-bottom:5px;margin-top:20px">{{job['title']}} </h4>
  <div><b>Location: </b>{{job['location']}} </div>
  {% if job['salary'] != '' %}
  <div><b>Salary: </b>{{job['salary']}} </div>
  {% endif %}</div>
   <div class='col-4 mt-4 text-right'>
   <a href="mailto:contact@webbullz.com?subject=Enquiry%20about%20the%20{{job['title']}}%20vacancy&body=Name%3A%20%3CEnter%20Your%20Name%3E%0D%0AQualification%3A%20%3CMention%20Your%20Higher%20Qualification%3E%0D%0AExperience%3A%20%3CEnter%20Your%20Experience%20In%20Current%20Field%3E%0D%0AMobile%20Number%3A%20%3CEnter%20Your%20Mobile%20Number%3E" target="_blank" class="btn btn-primary">Apply Now</a>
</div></div>